@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.body{
    margin : 0;
    font-family: 'Open Sans','Montserrat';
}

.active{
    
    font-weight: bold;
    border-bottom: 2px solid #c9a56f;
    padding-bottom: 4px;
}

.reasonsList{
    padding:10px;
    margin:0;
    list-style-type:none;
    width:100%;
}

.reasonsList li{
    
    width:50%;
    padding:10px 10px 10px 10px;
    font-size: small;
    float:left;
}

